<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="/js/script.js"></script> -->
    <title>初期画面</title>
</head>
<body>
    <h1><%= studentName%>さんのページ</h1>
    <h2><a href="/student">学生管理</a></h2>
    <h2><a href="/class">授業管理</a></h2>
    <h2><a href="/task">課題管理</a></h2>
    <h3> <a href="/edit/password">パスワード変更</a></h3>
    <br>
    <h2>自分の課題一覧</h2>
    <table width = "80%">
        <tr>
            <th align="center">締切</th>
            <th align="center">授業名</th>
            <th align="center">課題内容</th>
            <th align="center">提出方法</th>
            <th align="center">追加日</th>
        </tr>
        <% for(var i = 0; i < tasks.length; i++){ %>
            <tr>
                <th><%= tasks[i].deadline %></th>
                <th><%= tasks[i].className %></th>
                <th><%= tasks[i].contents %></th>
                <% if(tasks[i].submitway == "コースパワー"){ %>
                    <th><a href="https://cp.aim.aoyama.ac.jp/" target="_blank"><%= tasks[i].submitway %></a></th>
                <% }else{ %>
                <th><%= tasks[i].submitway %></th>
                <% } %>
                <th><%= tasks[i].created %></th>
                <th>
                    <form action="/delete/task" method="post">
                        <input type="hidden" name="taskId" value="<%= tasks[i].id %>">
                        <input type="submit" value="削除">
                    </form>
                </th>
                <th>
                  <form action="/edit/task" method="post">
                    <input type="hidden" name="taskId" value="<%= tasks[i].id %>">
                    <input type="submit" value="変更する">
                  </form>
                </th>
            </tr>
        <% } %>
    </table>
    <br>
    <a href="/logout">ログアウト</a>
</body>
</html>
