<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/task.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>課題一覧</title>
</head>
<body>
    <header class="header-6">
        <div class="box box-logo">
            <div class="header-name"><%= studentName%></div>
            <h2>TaskReminder</h2>
        </div>
        <div class="box box-nav">
            <ul class="inner-nav">
                <% if(studentName == "test"){ %>
                    <li class="menu">
                        <p class="en"><a href="/student">学生管理</a></p>
                        <p class="jp">student</p>
                    </li>
                <% } %>
                <li class="menu">
                    <p class="en"><a href="/class">授業管理</a></p>
                    <p class="jp">class</p>
                </li>
                <li class="menu">
                    <p class="en"><a href="/new/task">課題追加</a></p>
                    <p class="jp">task</p>
                </li>
                <li class="menu">
                    <p class="en"><a href="/index">トップに戻る</a></p>
                    <p class="jp">top</p>
                </li>
            </ul>
        </div>
    </header>
    <p class="marge"></p>
    <div class="radio">
        <h2>登録授業で検索</h2>
        <form action="/task/all/filter" method="POST">
            <% for(var i = 0; i < classes.length; i++){ %>
                <input type="radio" name=className value="<%= classes[i].name %>" ><%= classes[i].name %>
            <% } %>
            <input type="submit" value="検索">
        </form>
        <h3><a href="/task/all">全表示</a></h3>
    </div>
    <table width = "80%">
        <tr>
            <th>締切</th>
            <th>授業名</th>
            <th>課題内容</th>
            <th>提出方法</th>
            <th>追加日</th>
            <th>追加した人</th>
        </tr>
        <% for(var i = 0; i < tasks.length; i++){ %>
            <tr>
                <td><%= tasks[i].deadline %></td>
                <td><%= tasks[i].className %></td>
                <td><%= tasks[i].contents %></td>
                <td><%= tasks[i].submitway %></td>
                <td><%= tasks[i].created %></td>
                <td><%= tasks[i].studentName %></td>
        <% } %>
    </table>
</body>
</html>